@model  IEnumerable<Lupum_Yolcu.Models.Product>
@{
    ViewBag.Title = "Create Order";
}


@section styles{
<style>
    .modal .modal-header {
        background: #222f3c;
    }
</style>
    }
<div id="content_wrapper" class="card-overlay">
    <div id="header_wrapper" class="header-md ecom-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <header id="header">
                        <h1>@ViewBag.Title</h1>
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                            <li class="active">@ViewBag.Title</li>
                        </ol>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="content-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <header class="card-heading ">
                            <div style="position:static;" class="card-search open">
                                <div id="productsTable_wrapper" class="form-group label-floating is-empty">
                                    <i class="zmdi zmdi-search search-icon-left"></i>
                                    <input id="search-product" type="text" class="form-control filter-input" placeholder="Filter Products..." autocomplete="off">
                                </div>
                            </div>
                        </header>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover customer-table">

                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Colors</th>

                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="products">
                                        @foreach (var product in Model)
                                        {
                                            <tr  data-id="@product.Id" data-name="@product.Name" data-price="@product.Price.ToString("0.##")" data-gift="@product.GiftCount" >
                                                <td>@product.Name</td>
                                                <td>@product.Price.ToString("0.##")</td>
                                                <td>@product.Colors</td>
                                                <td>
                                                    <a href="@Url.Action("Edit",new{id=product.Id})" class="icon "><i class="zmdi zmdi-shopping-cart"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Demos ===========================================================-->
<div class="modal fade in" id="product-add" tabindex="-1" role="dialog" aria-labelledby="basic_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" ><span id="product-name"></span><br /><span id="price"></span> AZN</h4>

                <ul class="card-actions icons right-top">
                    <li>
                        <a href="javascript:void(0)" data-dismiss="modal" class="text-white" aria-label="Close">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="nav nav-pills nav-stacked nav-pills-primary" role="tablist">
                            <li class="active">
                                <a href="#normal" role="tab" data-toggle="tab">
                                    Normal
                                </a>
                            </li>
                            <li>
                                <a href="#discount" role="tab" data-toggle="tab">
                                    Discount
                                </a>
                            </li>
                            <li>
                                <a href="#gift" role="tab" data-toggle="tab">
                                    Gift
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="col-sm-9">
                        <div id="pillContent3" class="tab-content m-t-15">
                            <div class="tab-pane fade active in" id="normal">
                                <div class="form-group is-empty">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi  zmdi-shopping-basket"></i></span>
                                        <input type="text" class="form-control" name="count" placeholder="Product Count" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="discount">
                                <div class="form-group is-empty">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-shopping-basket"></i></span>
                                        <input type="text" class="form-control" name="count" placeholder="Product Count" value="" />
                                    </div>
                                </div>
                                <div class="form-group is-empty">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i >%</i></span>
                                        <input type="text" class="form-control" name="discount" placeholder="Discount " value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="gift">
                                <div class="form-group is-empty">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi  zmdi-shopping-basket"></i></span>
                                        <input type="text" class="form-control" name="count" placeholder="Product Count" value="" />
                                    </div>
                                </div>
                                <div class="form-group is-empty">
                                    <label >Gift Count</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-card-giftcard"></i></span>
                                        <input type="text" class="form-control" disabled  name="gift" placeholder="sana hediye falan yok" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
@section scripts{
    <script>

        $(document).ready(function () {
    
           /// products search
            $("#search-product").on("input", function () {

                //console.log($(this).val());
                var value = $(this).val();
                $(".products tr").each(function () {

                    if ($(this).find("td:first").text().indexOf(value) == -1) {
                        $(this).addClass("hidden");
                    }
                    else {
                        $(this).removeClass("hidden");
                    }
                    //console.log($(this).find("td:first").text());

                });

            });
           /// products search

            ///orders product modal 
            $(".products a").on("click",function (ev) {
                ev.preventDefault();
                var tr = $(this).parents("tr");
                $("#product-add").find("#product-name").text(tr.data("name"));
                $("#product-add").find("#price").text(tr.data("price"));
                if (tr.data("gift") == 0) {
                    $("a[href='#gift']").addClass("hidden");
                    $("#gift").addClass("hidden");
                }

                $("input[name='gift']").data("count", tr.data("gift")); 
                $("#product-add").modal("show");

                $("#product-add").on('hidden.bs.modal', function (e) {

                    //console.log("closed");

                    $("a[href='#gift']").removeClass("hidden");
                    $("#gift").removeClass("hidden");
                    $(this).find(".nav .active").removeClass("active");
                    $(this).find(".nav li:first").addClass("active");

                    $(this).find(".tab-content .active").removeClass("active").removeClass("in");
                    $(this).find(".tab-content div:first").addClass("active").addClass("in");

                });


            });

        });
    </script>
}







