@model  IEnumerable<Lupum_Yolcu.Models.Product>
@{
    ViewBag.Title = "Create Order";
}


@section styles{
<style>
    .modal .modal-header {
        background: #222f3c;
    }
    .my-custom-scrollbar {
        position: relative;
        height: 521px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
    .fixed_headers {
       
        table-layout: fixed;
        border-collapse: collapse;
    }
</style>
    }
<div id="content_wrapper" class="card-overlay">
    <div id="header_wrapper" class="header-md ecom-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <header id="header">
                        <h1>@ViewBag.Title</h1>
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                            <li class="active">@ViewBag.Title</li>
                        </ol>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="content-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <header class="card-heading ">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div style="position:static;" class="card-search open">
                                        <div id="productsTable_wrapper" class="form-group label-floating is-empty">
                                            <i class="zmdi zmdi-search search-icon-left"></i>
                                            <input id="search-product" type="text" class="form-control filter-input" placeholder="Filter Products..." autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="card-body">
                            <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-striped table-hover customer-table">

                                    <thead class="fixed">
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Colors</th>

                                            <th  class="text-red">Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Colors</th>

                                            <th class="text-red">Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody class="products">
                                        @foreach (var product in Model)
                                        {
                                            <tr  data-id="@product.Id" data-name="@product.Name" data-price="@product.Price.ToString("#.00")" data-gift="@product.GiftCount" >
                                                <td>@product.Name</td>
                                                <td>@product.Price.ToString("#.00")</td>
                                                <td>@product.Colors</td>
                                                <td>
                                                    <a href="@Url.Action("Edit",new{id=product.Id})" class="icon text-red "><i class="zmdi zmdi-shopping-cart"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card">
                        <header class="card-heading ">
                            <h2 class="card-title">Basket</h2>
                        </header>
                        <div style="height:590px" class="card-body">
                            <div style="height:461px" class="table-responsive ">
                                <table class="table table-bordered  table-hover fixed_headers customer-table">

                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>

                                            <th  class="text-red">Sum</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody class="basket ">

                                        
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                        <tr>
                                            <td>Name</td>
                                            <td>Price</td>
                                            <td>Quantity</td>

                                            <td  class="text-red">Sum</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-red" colspan="3"><b>Total</b></td>
                                            <td id="sum" class="text-red"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Demos ===========================================================-->
<div class="modal fade in" id="product-add" tabindex="-1" role="dialog" aria-labelledby="basic_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" ><span id="product-name"></span><br /><span id="price"></span> AZN</h4>

                <ul class="card-actions icons right-top">
                    <li>
                        <a href="javascript:void(0)" data-dismiss="modal" class="text-white" aria-label="Close">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="nav nav-pills nav-stacked nav-pills-primary" role="tablist">
                            <li class="active">
                                <a href="#normal" role="tab" data-toggle="tab">
                                    Normal
                                </a>
                            </li>
                            <li>
                                <a href="#discount" role="tab" data-toggle="tab">
                                    Discount
                                </a>
                            </li>
                            <li>
                                <a href="#gift" role="tab" data-toggle="tab">
                                    Gift
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="col-sm-9">
                        <div id="pillContent3" class="tab-content m-t-15">
                            <div class="tab-pane fade active in" id="normal">
                                <div class="form-group is-empty">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi  zmdi-shopping-basket"></i></span>
                                        <input type="text" class="form-control" name="count_normal" placeholder="Product Count" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="discount">
                                <div class="form-group is-empty">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-shopping-basket"></i></span>
                                        <input type="text" class="form-control" name="count_discount" placeholder="Product Count" value="" />
                                    </div>
                                </div>
                                <div class="form-group is-empty">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i >%</i></span>
                                        <input type="text" class="form-control" name="discount" placeholder="Discount " value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="gift">
                                <div class="form-group is-empty">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi  zmdi-shopping-basket"></i></span>
                                        <input type="text" class="form-control" name="count_gift" placeholder="Product Count" value="" />
                                    </div>
                                </div>
                                <div class="form-group is-empty">
                                    <label >Gift Count</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-card-giftcard"></i></span>
                                        <input type="text" class="form-control" disabled  name="gift" placeholder="sana hediye falan yok" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
                <button type="button" id="addBasket" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
@section scripts{
    <script>

        $(document).ready(function () {

            ///products table scroll


           /// products search
            $("#search-product").on("input", function () {

                //console.log($(this).val());
                var value = $(this).val();
                $(".products tr").each(function () {

                    if ($(this).find("td:first").text().indexOf(value) == -1) {
                        $(this).addClass("hidden");
                    }
                    else {
                        $(this).removeClass("hidden");
                    }
                    //console.log($(this).find("td:first").text());

                });

            });
           /// products search

            ///orders product modal open including data
            $(".products a").on("click",function (ev) {
                ev.preventDefault();
                var tr = $(this).parents("tr");
                $("#product-add").find("#product-name").text(tr.data("name"));
                $("#product-add").find("#price").text(tr.data("price"));
                $("#product-add").data("id", tr.data("id"));
                if (tr.data("gift") == 0) {
                    $("a[href='#gift']").addClass("hidden");
                    $("#gift").addClass("hidden");
                }

                $("input[name='gift']").data("count", tr.data("gift")); 
                $("#product-add").modal("show");
            });
            ///gift count= mehsulun miqdarina uygun gift count gosterilmesi
            $("input[name='count_gift']").on("input", function () {


                var value = Number($(this).val());
                var giftCount = Number($("input[name='gift']").data("count"));
                var gift = Math.floor(value / giftCount);
                $("input[name='gift']").val(gift);
                //console.log(value, giftCount);
            });
            ///modal close
            $("#product-add").on('hidden.bs.modal', function (e) {

                //console.log("closed");

                $("a[href='#gift']").removeClass("hidden");
                $("#gift").removeClass("hidden");
                $(this).find(".nav .active").removeClass("active");
                $(this).find(".nav li:first").addClass("active");

                $(this).find(".tab-content .active").removeClass("active").removeClass("in");
                $(this).find(".tab-content div:first").addClass("active").addClass("in");

                $("input[name='count_normal']").val("");
                $("input[name='count_discount']").val("");
                $("input[name='count_gift']").val("");
                $("input[name='gift']").val("");
                $("input[name='discount']").val("");
                

            });
            ///modal product add to basket
            $("#addBasket").on("click", function () {

                if ($("#normal").hasClass("active")) {
                    //console.log("normal");
                    var count = $("input[name='count_normal']").val();
                    var id = $("#product-add").data("id");
                    AddTobasket(id, count);
                }
                if ($("#discount").hasClass("active")) {
                    //console.log("dis");
                    var count = $("input[name='count_discount']").val();
                    var id = $("#product-add").data("id");
                    var discount = $("input[name='discount']").val();
                    AddTobasket(id, count, 0, discount);
                }
                if ($("#gift").hasClass("active")) {
                    //console.log("gift");
                    var count = $("input[name='count_gift']").val();
                    var id = $("#product-add").data("id");
                    var gift = $("input[name='gift']").val();
                    AddTobasket(id, count, gift, 0);
                }
                $("#product-add").modal("hide");
            });

            function AddTobasket(id,count, gift = 0, discount = 0) {

                var tr = $(`.products tr[data-id='${id}']`);
                var subTotal = Number(count) * Number(tr.data("price")) - Number(count) * Number(tr.data("price")) / 100 * Number(discount);
                //console.log(tr.data());
                var append =$(`<tr>
                                <td>${tr.data("name")}</td>
                                <td>${tr.data("price")}</td>
                                <td>${count} </td>
                                <td class="text-red">${subTotal}</td>
                               </tr>`);
                if (discount != 0) {
                    append.find("td ").eq(1).append(`<br /><span class="text-danger">-${discount}%</span>`);
                }
                if (gift != 0) {
                    append.find("td ").eq(2).append(`<br /> <span class="text-danger">+${gift}</span>`);
                }
                var total = Number($("#sum").text()) + subTotal;
                $("#sum").text(total);
                $(".basket").append(append);
            }
        });
    </script>
}







