@{
    ViewBag.Title = "Orders";
}
<div id="content_wrapper" class="card-overlay">
    <div id="header_wrapper" class="header-md ecom-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <header id="header">
                        <h1>@ViewBag.Title</h1>
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                            <li class="active">@ViewBag.Title</li>
                        </ol>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container">
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <header class="card-heading ">
                            <h2 class="card-title">@ViewBag.Title Table</h2>
                            <a href="@Url.Action("SelectMarket")" class="btn btn-default">
                                SelectMarket
                            </a>

                        </header>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover customer-table">

                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Colors</th>
                                            <th>Status</th>
                                            <th></th>
                                            <th></th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







