@model  IEnumerable <Lupum_Yolcu.Models.Group>
@{
    ViewBag.Title = "Create User";
}

<div id="content_wrapper" class="card-overlay">
    <div id="header_wrapper" class="header-md">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <header id="header">
                        <h1>Create New User</h1>
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                            <li><a href="@Url.Action("Index","Users")">Groups</a></li>
                            <li class="active">New User</li>
                        </ol>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container-fluid">
        <div class="content-body">
            <div class="row">

                <div class="col-xs-12 col-md-12">
                    <div class="card p-b-20">

                        <div class="card-body">

                            <form action="@Url.Action("Create")" method="post">
                                @Html.AntiForgeryToken()
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="Email" required name="Email" class="form-control">
                                </div>
                                <div class="form-group label-floating is-empty">
                                    <label for="GroupId" >Groups</label>
                                    <select class="form-control" name="GroupId" id="GroupId">
                                        @foreach (var group in Model)
                                        {
                                            <option value="@group.Id">@group.Name</option>
                                        }
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



