@model IEnumerable<Lupum_Yolcu.Models.User>
@{
    ViewBag.Title = "Users";
}


<div id="content_wrapper" class="card-overlay">
    <div id="header_wrapper" class="header-md ecom-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <header id="header">
                        <h1>Users</h1>
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                            <li class="active">Users</li>
                        </ol>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div id="content" >
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <header class="card-heading ">
                            <h2 class="card-title">Groups Table</h2>
                            <a href="@Url.Action("Create")" class="btn btn-default">
                                Create User
                            </a>

                        </header>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover  customer-table">

                                    <thead>
                                        <tr>
                                            <th>FullName</th>
                                            <th>Group</th>
                                            <th>Status</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in Model)
                                        {
                                        <tr>
                                            <td>
                                                @if (!string.IsNullOrEmpty(user.Fullname))
                                                {
                                                    @user.Fullname
                                                }
                                                else
                                                {
                                                    @user.Email
                                                }
                                            </td>
                                            <td>@user.Group.Name</td>
                                            <td>
                                                @if (user.Status)
                                                {
                                                    <span class="label label-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-info">Passive</span>
                                                }
                                                @if (user.Token != null)
                                                {
                                                    <span class="label label-danger">Invited, Not Approved</span>
                                                }
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <a href="@Url.Action("Edit",new{id=user.Id})" class="icon "><i class="zmdi zmdi-edit"></i></a>
                                                <a href="@Url.Action("delete",new{id=user.Id})" class="icon delete"><i class="zmdi zmdi-delete"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





