@model IEnumerable<Lupum_Yolcu.Models.Network>
@{
    ViewBag.Title = "Networks";
}
<div id="content_wrapper" class="card-overlay">
    <div id="header_wrapper" class="header-md ecom-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <header id="header">
                        <h1>Networks</h1>
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                            <li class="active">Networks</li>
                        </ol>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div id="content" >
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <header class="card-heading ">
                            <h2 class="card-title">Networks Table</h2>
                            <a href="@Url.Action("Create")" class="btn btn-default">
                                Create Network
                            </a>

                        </header>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-bordered customer-table ">

                                    <thead >
                                        <tr>
                                            <th class=" h4 text-center">Name</th>
                                            <th class=" h4 text-center">Market Count</th>
                                            <th class=" h4 text-center" colspan="2">Actions</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody >
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                        <tr>
                                            <td>@Model.ElementAt(i).Name</td>
                                            <td>
                                                @if (Model.ElementAt(i).Markets.Count() != 0)
                                                {
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                                        <select name="id" class="form-control ">
                                                            <option>Markets Count: @Model.ElementAt(i).Markets.Count()</option>
                                                            @foreach (var markets in Model.ElementAt(i).Markets)
                                                            {
                                                                <option value="@markets.Id">@markets.Name</option>
                                                                @*<option value="@network.Markets.Where(n=>n.NetworkId==network.Id).Select(nv=>nv.Id)">@network.Markets.Where(n => n.NetworkId == network.Id).Select(nv => nv.Name)</option>*@
                                                            }
                                                        </select>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h3 class="text-center">@Model.ElementAt(i).Markets.Count</h3>

                                                }
                                            </td>
                                            
                                            <td>
                                                <a href="@Url.Action("Edit",new{id=Model.ElementAt(i).Id})" class="icon "><i class="zmdi zmdi-edit"></i></a>
                                            </td>
                                            <td>
                                                @if (Model.ElementAt(i).Markets.Count() == 0)
                                                {
                                                    <a href="@Url.Action("delete",new{id=Model.ElementAt(i).Id})" class="icon delete"><i class="zmdi zmdi-delete"></i></a>

                                                }
                                                else
                                                {
                                                    <h4 style="font-size: 100%;" class="  label label-success">Bu Networke aid marketler var. Siline Bilmez</h4>
                                                }
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





